<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="/mpa/css/bootstrap.min.css">
    <link rel="stylesheet" href="/mpa/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/mpa/css/font-awesome.min.css">

  </head>

  <body>
    <div id="app">
      <navbar placement="top" type="default">
        <a slot="brand" href="/" title="Home" class="navbar-brand">
          <img alt="Brand" style="max-height: 50px; margin-top: -15px" src="/mpa/images/singlebody-logo.png">
        </a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <li> <a href="/cases">عرض الحالات</a> </li>
        <li> <a href="/donations">تبرعاتك</a> </li>
        
        <% if( locals.authenticated) {%>
          <li slot="left"> <a href="/api/auths/logout">logout</a> </li>
        <% } %>

        <%= locals.authenticated%>

      </navbar>
    </div> 
    <!-- needs to be manually minifiyed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-strap/1.1.29/vue-strap.min.js"></script> -->
    <script src="/mpa/js/vue-strap.min.js"></script>
    <script src="https://unpkg.com/superagent@2.3.0/superagent.js"></script>

    <%- body %>

    <script type="text/javascript">
      var app = new Vue({
        components: {
          navbar: VueStrap.navbar,
        },
        el: '#app',
      })
    </script>
  </body>
</html>
